NetworkService/node-red-flow.json
[
    {
        "id": "8c669873.b9ca38",
        "type": "tab",
        "label": "D (Direct Mode)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ce7fa268.9d67c",
        "type": "tab",
        "label": "D0C (Dot Zero CSV Mode)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8eeddedf.a2b48",
        "type": "tab",
        "label": "D0 (Dot Zero Mode)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "69053d56.095ee4",
        "type": "mqtt-broker",
        "name": "local(10.1.5.70)",
        "broker": "10.1.5.70",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "28fc1298.f8e59e",
        "type": "ui_tab",
        "name": "DASHBOARD",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ed9db952.c89918",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Plugfest2021",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "37491b3c.791b74",
        "type": "ui_group",
        "name": "TEMP/HUMID/PRES",
        "tab": "28fc1298.f8e59e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a09e5a80.f4a6a8",
        "type": "ui_group",
        "name": "GEOMAG/ACCEL",
        "tab": "28fc1298.f8e59e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7a80107.37e9f",
        "type": "ui_group",
        "name": "ILLUMI/UV",
        "tab": "28fc1298.f8e59e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86483328.1e604",
        "type": "ui_tab",
        "name": "Request-Response",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74864aa2.194b24",
        "type": "ui_group",
        "name": "D0C TEMP/HUMID/PRES",
        "tab": "86483328.1e604",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3134a.6ced2cb8",
        "type": "ui_group",
        "name": "D0C UV/ILLUMI",
        "tab": "86483328.1e604",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "646a2c33.077d74",
        "type": "ui_group",
        "name": "D0 TEMP/HUMID/PRES",
        "tab": "86483328.1e604",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e960bf17.9f3d",
        "type": "ui_group",
        "name": "D0 UV/ILLUMI",
        "tab": "86483328.1e604",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9846458.3ae7f8",
        "type": "ui_tab",
        "name": "TEDS",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "21792d07.e6fa52",
        "type": "ui_group",
        "name": "D0C",
        "tab": "a9846458.3ae7f8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a3f9853.90cc98",
        "type": "ui_group",
        "name": "D0",
        "tab": "a9846458.3ae7f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dbabdd85.32707",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/TEMP",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "1e6e1155.861f0f",
                "9c5aece3.3c80a"
            ]
        ]
    },
    {
        "id": "f9584b82.67d078",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/HUMID",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "40ab9d6b.be1f64",
                "e70b00c1.50f3e"
            ]
        ]
    },
    {
        "id": "e2e652b2.00703",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/PRES",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "beeba432.d7e938",
                "584e2b9.c3503d4"
            ]
        ]
    },
    {
        "id": "de38626f.e95a3",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/ILLUMI",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "ead888a3.844ea8",
                "c4a2d658.38f4d8"
            ]
        ]
    },
    {
        "id": "28168534.383bba",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/UV",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "870a7553.596ed8",
                "c446c710.184528"
            ]
        ]
    },
    {
        "id": "56fd6ee.6e5899",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/GEOMAGX",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "3bec661.4f55b9a"
            ]
        ]
    },
    {
        "id": "bf1a6a55.ded108",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/GEOMAGY",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "9fbe6436.30d008"
            ]
        ]
    },
    {
        "id": "b3fcd613.5e7298",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/GEOMAGZ",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 300,
        "y": 500,
        "wires": [
            [
                "5b72c637.2febc8"
            ]
        ]
    },
    {
        "id": "4b7dbed9.56f0a",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/ACCELX",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "836a4e3c.b89b3"
            ]
        ]
    },
    {
        "id": "a51e7f12.590aa",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/ACCELY",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "6f0a336.67d54cc"
            ]
        ]
    },
    {
        "id": "283d0e48.2e9f42",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/plugfest/2021/ncap0/1/ACCELZ",
        "qos": "2",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 290,
        "y": 680,
        "wires": [
            [
                "fc4a2af3.a4c038"
            ]
        ]
    },
    {
        "id": "146a579b.f61af8",
        "type": "change",
        "z": "8c669873.b9ca38",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 380,
        "wires": [
            [
                "c3ac162c.0ce088"
            ]
        ]
    },
    {
        "id": "c3ac162c.0ce088",
        "type": "join",
        "z": "8c669873.b9ca38",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "[92,110]",
        "joinerType": "bin",
        "accumulate": false,
        "timeout": "1",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "{msg.payload}",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1190,
        "y": 440,
        "wires": [
            [
                "bc34ade.f804d5"
            ]
        ]
    },
    {
        "id": "3bec661.4f55b9a",
        "type": "simplejs",
        "z": "8c669873.b9ca38",
        "func": "parse-float",
        "property": "payload",
        "name": "",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "146a579b.f61af8"
            ]
        ]
    },
    {
        "id": "9fbe6436.30d008",
        "type": "simplejs",
        "z": "8c669873.b9ca38",
        "func": "parse-float",
        "property": "payload",
        "name": "",
        "x": 610,
        "y": 440,
        "wires": [
            [
                "50a8d07.bb8e13"
            ]
        ]
    },
    {
        "id": "5b72c637.2febc8",
        "type": "simplejs",
        "z": "8c669873.b9ca38",
        "func": "parse-float",
        "property": "payload",
        "name": "",
        "x": 610,
        "y": 500,
        "wires": [
            [
                "6d63cdee.edcb34"
            ]
        ]
    },
    {
        "id": "50a8d07.bb8e13",
        "type": "change",
        "z": "8c669873.b9ca38",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 440,
        "wires": [
            [
                "c3ac162c.0ce088"
            ]
        ]
    },
    {
        "id": "6d63cdee.edcb34",
        "type": "change",
        "z": "8c669873.b9ca38",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 500,
        "wires": [
            [
                "c3ac162c.0ce088"
            ]
        ]
    },
    {
        "id": "bc34ade.f804d5",
        "type": "calculator",
        "z": "8c669873.b9ca38",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "sum",
        "constant": "",
        "round": true,
        "decimals": "3",
        "x": 1310,
        "y": 440,
        "wires": [
            [
                "5038e298.7c7f6c",
                "78190007.75401"
            ]
        ]
    },
    {
        "id": "8259c3b5.cc641",
        "type": "change",
        "z": "8c669873.b9ca38",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 560,
        "wires": [
            [
                "2c8e2529.e7f4ca"
            ]
        ]
    },
    {
        "id": "1f2dc1f2.5e86fe",
        "type": "join",
        "z": "8c669873.b9ca38",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "[92,110]",
        "joinerType": "bin",
        "accumulate": false,
        "timeout": "1",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "{msg.payload}",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1190,
        "y": 620,
        "wires": [
            [
                "ce8fc39b.977e3"
            ]
        ]
    },
    {
        "id": "836a4e3c.b89b3",
        "type": "simplejs",
        "z": "8c669873.b9ca38",
        "func": "parse-float",
        "property": "payload",
        "name": "",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "8259c3b5.cc641"
            ]
        ]
    },
    {
        "id": "6f0a336.67d54cc",
        "type": "simplejs",
        "z": "8c669873.b9ca38",
        "func": "parse-float",
        "property": "payload",
        "name": "",
        "x": 610,
        "y": 620,
        "wires": [
            [
                "75b73f1e.a5e03"
            ]
        ]
    },
    {
        "id": "fc4a2af3.a4c038",
        "type": "simplejs",
        "z": "8c669873.b9ca38",
        "func": "parse-float",
        "property": "payload",
        "name": "",
        "x": 610,
        "y": 680,
        "wires": [
            [
                "768bfbff.76c9e4"
            ]
        ]
    },
    {
        "id": "75b73f1e.a5e03",
        "type": "change",
        "z": "8c669873.b9ca38",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 620,
        "wires": [
            [
                "9da9baff.b2b0c8"
            ]
        ]
    },
    {
        "id": "768bfbff.76c9e4",
        "type": "change",
        "z": "8c669873.b9ca38",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 680,
        "wires": [
            [
                "ebf6c4b5.b610d8"
            ]
        ]
    },
    {
        "id": "ce8fc39b.977e3",
        "type": "calculator",
        "z": "8c669873.b9ca38",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "sum",
        "constant": "",
        "round": true,
        "decimals": "3",
        "x": 1310,
        "y": 620,
        "wires": [
            [
                "e3d548a8.f04fc8",
                "2b4b4a0f.44df86"
            ]
        ]
    },
    {
        "id": "2c8e2529.e7f4ca",
        "type": "calculator",
        "z": "8c669873.b9ca38",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "abs",
        "constant": "",
        "round": false,
        "decimals": "0",
        "x": 1000,
        "y": 560,
        "wires": [
            [
                "1f2dc1f2.5e86fe"
            ]
        ]
    },
    {
        "id": "9da9baff.b2b0c8",
        "type": "calculator",
        "z": "8c669873.b9ca38",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "abs",
        "constant": "",
        "round": false,
        "decimals": "0",
        "x": 1000,
        "y": 620,
        "wires": [
            [
                "1f2dc1f2.5e86fe"
            ]
        ]
    },
    {
        "id": "ebf6c4b5.b610d8",
        "type": "calculator",
        "z": "8c669873.b9ca38",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "abs",
        "constant": "",
        "round": false,
        "decimals": "0",
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "1f2dc1f2.5e86fe"
            ]
        ]
    },
    {
        "id": "1e6e1155.861f0f",
        "type": "ui_chart",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "37491b3c.791b74",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "TEMPs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9c5aece3.3c80a",
        "type": "ui_gauge",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "37491b3c.791b74",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "40ab9d6b.be1f64",
        "type": "ui_chart",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "37491b3c.791b74",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "HUMIDs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e70b00c1.50f3e",
        "type": "ui_gauge",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "37491b3c.791b74",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMID",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "beeba432.d7e938",
        "type": "ui_chart",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "37491b3c.791b74",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "PRESs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "584e2b9.c3503d4",
        "type": "ui_gauge",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "37491b3c.791b74",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PRES",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "ead888a3.844ea8",
        "type": "ui_chart",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "c7a80107.37e9f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "ILLUMIs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c4a2d658.38f4d8",
        "type": "ui_gauge",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "c7a80107.37e9f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ILLUMI",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "870a7553.596ed8",
        "type": "ui_chart",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "c7a80107.37e9f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "UVs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c446c710.184528",
        "type": "ui_gauge",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "c7a80107.37e9f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "UV",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "5038e298.7c7f6c",
        "type": "ui_chart",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "a09e5a80.f4a6a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "GEOMAGs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "78190007.75401",
        "type": "ui_gauge",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "a09e5a80.f4a6a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "GEOMAG",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1540,
        "y": 460,
        "wires": []
    },
    {
        "id": "e3d548a8.f04fc8",
        "type": "ui_chart",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "a09e5a80.f4a6a8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "ACCELs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1440,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2b4b4a0f.44df86",
        "type": "ui_gauge",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "a09e5a80.f4a6a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ACCELL",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1540,
        "y": 640,
        "wires": []
    },
    {
        "id": "a7b09d3b.d70c3",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "HUMID-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "a8ffe910.ac1108"
            ]
        ]
    },
    {
        "id": "a8ffe910.ac1108",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x00000000000000000001,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "981b713a.cd608",
        "type": "ui_gauge",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMID-D0C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1270,
        "y": 820,
        "wires": []
    },
    {
        "id": "69eb607b.b3b63",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "TEMP-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "158f974a.8120e9"
            ]
        ]
    },
    {
        "id": "7398b1ac.a7386",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 720,
        "wires": []
    },
    {
        "id": "aa82d986.0da128",
        "type": "mqtt in",
        "z": "ce7fa268.9d67c",
        "name": "",
        "topic": "_1451.1.6/D0C/plugfest/2021/application0",
        "qos": "0",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "eab5c2f5.a54b9"
            ]
        ]
    },
    {
        "id": "158f974a.8120e9",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x00000000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "3a564ba5.c89664",
        "type": "ui_gauge",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMP-D0C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1270,
        "y": 780,
        "wires": []
    },
    {
        "id": "e2c1c13a.07283",
        "type": "switch",
        "z": "ce7fa268.9d67c",
        "name": "",
        "property": "timid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "0x00000000000000000000",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "0x00000000000000000001",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "0x00000000000000000002",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "0x00000000000000000003",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "0x00000000000000000004",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 930,
        "y": 820,
        "wires": [
            [
                "3a564ba5.c89664",
                "7398b1ac.a7386"
            ],
            [
                "981b713a.cd608",
                "7398b1ac.a7386"
            ],
            [
                "69221249.80ab6c",
                "7398b1ac.a7386"
            ],
            [
                "4964e0b7.bb20e",
                "7398b1ac.a7386"
            ],
            [
                "f6b45684.0d6ba8",
                "7398b1ac.a7386"
            ]
        ]
    },
    {
        "id": "4964e0b7.bb20e",
        "type": "ui_gauge",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "c3134a.6ced2cb8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "UV-D0C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1260,
        "y": 900,
        "wires": []
    },
    {
        "id": "f6b45684.0d6ba8",
        "type": "ui_gauge",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "c3134a.6ced2cb8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ILLUMI-D0C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1270,
        "y": 940,
        "wires": []
    },
    {
        "id": "69221249.80ab6c",
        "type": "ui_gauge",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PRES-D0C",
        "label": "units",
        "format": "{{value}}",
        "min": "950",
        "max": "1050",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1270,
        "y": 860,
        "wires": []
    },
    {
        "id": "7b4cc101.915a8",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "UV-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "54e665c9.2d6aac"
            ]
        ]
    },
    {
        "id": "54e665c9.2d6aac",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "c3134a.6ced2cb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "UV-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x00000000000000000003,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "9d2c4c4e.76d5c",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "ILLUMI-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "19311cec.200453"
            ]
        ]
    },
    {
        "id": "19311cec.200453",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "c3134a.6ced2cb8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "ILLUMI-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x00000000000000000004,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "36a38c38.abb3f4",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "PRES-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "7589f3a5.4ba4cc"
            ]
        ]
    },
    {
        "id": "914abb27.83ecc8",
        "type": "mqtt out",
        "z": "ce7fa268.9d67c",
        "name": "",
        "topic": "_1451.1.6/D0C/plugfest/2021/ncap0",
        "qos": "0",
        "retain": "",
        "broker": "69053d56.095ee4",
        "x": 1070,
        "y": 300,
        "wires": []
    },
    {
        "id": "7589f3a5.4ba4cc",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "PRES-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x00000000000000000002,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "c7195ef4.6f0c4",
        "type": "ui_toast",
        "z": "ce7fa268.9d67c",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "8278591b.5732d8",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "TEMP-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "644ab2ea.db7f7c"
            ]
        ]
    },
    {
        "id": "644ab2ea.db7f7c",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "e130bdd2.ab0d9"
            ]
        ]
    },
    {
        "id": "d9084656.423338",
        "type": "mqtt in",
        "z": "8eeddedf.a2b48",
        "name": "",
        "topic": "_1451.1.6/D0/plugfest/2021/application0",
        "qos": "1",
        "datatype": "auto",
        "broker": "69053d56.095ee4",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "57903576.a8272c",
                "255ad914.e29b96",
                "fee7a83b.b28ba8"
            ]
        ]
    },
    {
        "id": "e130bdd2.ab0d9",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "TEMP D0 BIN",
        "func": "var buf = new Buffer(41); // バイナリの配列をつくる\nbuf[0]=2;\nbuf[1]=1;\nbuf[2]=1;\nbuf[3]=0;\nbuf[4]=0x29;;\nbuf[5]=0; // UUID ncapId 0\nbuf[6]=0; // 1\nbuf[7]=0; // 2\nbuf[8]=0; // 3\nbuf[9]=0; // 4\nbuf[10]=0; // 5\nbuf[11]=0; // 6\nbuf[12]=0; // 7\nbuf[13]=0; // 8\nbuf[14]=0; // 9\nbuf[15]=0; // UUID timId 0\nbuf[16]=0; // 1\nbuf[17]=0; // 2\nbuf[18]=0; // 3\nbuf[19]=0; // 4\nbuf[20]=0; // 5\nbuf[21]=0; // 6\nbuf[22]=0; // 7\nbuf[23]=0; // 8\nbuf[24]=0; // 9\nbuf[25]=0; // ChannelId 0 = 1\nbuf[26]=1; // 3\nbuf[27]=0; // TimeDuration 0\nbuf[28]=0; // 1\nbuf[29]=0; // 2\nbuf[30]=0; // 3\nbuf[31]=0; // 4\nbuf[32]=0; // 5\nbuf[33]=0; // 6\nbuf[34]=0; // 7\nbuf[35]=0; // SamplingMode 0\nbuf[36]=0; // 1\nbuf[37]=0; // DiscoveryId 0\nbuf[38]=0; // 4\nbuf[39]=0; // 5\nbuf[40]=0; // 6\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 80,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "57903576.a8272c",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "Array2Str",
        "func": "msg.typeid = msg.payload.slice(0,3).join()\nmsg.sample = ''+msg.payload.slice(29,34);\nmsg.timid = parseInt(msg.payload.slice(26,27)[0]);\nmsg.teds = msg.payload.slice(37)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 760,
        "wires": [
            [
                "1a91458e.e8e2ca",
                "7a33c49e.8ed42c",
                "9fee31fe.f9134",
                "ab54705c.ab38f",
                "a7a355ca.a32038",
                "a1bf1fb2.4c964"
            ]
        ]
    },
    {
        "id": "e3f0020d.e9f6c",
        "type": "ui_gauge",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMP-D0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1220,
        "y": 820,
        "wires": []
    },
    {
        "id": "255ad914.e29b96",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "7ac10ffa.8f0be",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "HUMID-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "6d4dcc7d.174624"
            ]
        ]
    },
    {
        "id": "6d4dcc7d.174624",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "8624b141.79a8c"
            ]
        ]
    },
    {
        "id": "8624b141.79a8c",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "HUMID D0 BIN",
        "func": "var buf = new Buffer(41); // バイナリの配列をつくる\nbuf[0]=2;\nbuf[1]=1;\nbuf[2]=1;\nbuf[3]=0;\nbuf[4]=0x29;\nbuf[5]=0; // UUID ncapId 0\nbuf[6]=0; // 1\nbuf[7]=0; // 2\nbuf[8]=0; // 3\nbuf[9]=0; // 4\nbuf[10]=0; // 5\nbuf[11]=0; // 6\nbuf[12]=0; // 7\nbuf[13]=0; // 8\nbuf[14]=0; // 9\nbuf[15]=0; // UUID timId 0\nbuf[16]=0; // 1\nbuf[17]=0; // 2\nbuf[18]=0; // 3\nbuf[19]=0; // 4\nbuf[20]=0; // 5\nbuf[21]=0; // 6\nbuf[22]=0; // 7\nbuf[23]=0; // 8\nbuf[24]=1; // 9\nbuf[25]=0; // ChannelId 0 = 1\nbuf[26]=1; // 3\nbuf[27]=0; // TimeDuration 0\nbuf[28]=0; // 1\nbuf[29]=0; // 2\nbuf[30]=0; // 3\nbuf[31]=0; // 4\nbuf[32]=0; // 5\nbuf[33]=0; // 6\nbuf[34]=0; // 7\nbuf[35]=0; // SamplingMode 0\nbuf[36]=0; // 1\nbuf[37]=0; // DiscoveryId 0\nbuf[38]=0; // 4\nbuf[39]=0; // 5\nbuf[40]=0; // 6\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 120,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "7864ff6b.34db5",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "PRES-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "4054ed7c.e963e4"
            ]
        ]
    },
    {
        "id": "4054ed7c.e963e4",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "PRES-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "caae0d32.c495c"
            ]
        ]
    },
    {
        "id": "13bd6858.070f28",
        "type": "mqtt out",
        "z": "8eeddedf.a2b48",
        "name": "",
        "topic": "_1451.1.6/D0/plugfest/2021/ncap0",
        "qos": "1",
        "retain": "",
        "broker": "69053d56.095ee4",
        "x": 1200,
        "y": 260,
        "wires": []
    },
    {
        "id": "caae0d32.c495c",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "PRES D0 BIN",
        "func": "var buf = new Buffer(41); // バイナリの配列をつくる\nbuf[0]=2;\nbuf[1]=1;\nbuf[2]=1;\nbuf[3]=0;\nbuf[4]=0x29;\nbuf[5]=0; // UUID ncapId 0\nbuf[6]=0; // 1\nbuf[7]=0; // 2\nbuf[8]=0; // 3\nbuf[9]=0; // 4\nbuf[10]=0; // 5\nbuf[11]=0; // 6\nbuf[12]=0; // 7\nbuf[13]=0; // 8\nbuf[14]=0; // 9\nbuf[15]=0; // UUID timId 0\nbuf[16]=0; // 1\nbuf[17]=0; // 2\nbuf[18]=0; // 3\nbuf[19]=0; // 4\nbuf[20]=0; // 5\nbuf[21]=0; // 6\nbuf[22]=0; // 7\nbuf[23]=0; // 8\nbuf[24]=2; // 9\nbuf[25]=0; // ChannelId 0 = 1\nbuf[26]=1; // 3\nbuf[27]=0; // TimeDuration 0\nbuf[28]=0; // 1\nbuf[29]=0; // 2\nbuf[30]=0; // 3\nbuf[31]=0; // 4\nbuf[32]=0; // 5\nbuf[33]=0; // 6\nbuf[34]=0; // 7\nbuf[35]=0; // SamplingMode 0\nbuf[36]=0; // 1\nbuf[37]=0; // DiscoveryId 0\nbuf[38]=0; // 4\nbuf[39]=0; // 5\nbuf[40]=0; // 6\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "9826b361.d57df",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "UV-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "4e1ccfe.ed93b3"
            ]
        ]
    },
    {
        "id": "4e1ccfe.ed93b3",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "e960bf17.9f3d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "UV-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "d1b1c7e8.f6db48"
            ]
        ]
    },
    {
        "id": "d1b1c7e8.f6db48",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "UV D0 BIN",
        "func": "var buf = new Buffer(41); // バイナリの配列をつくる\nbuf[0]=2;\nbuf[1]=1;\nbuf[2]=1;\nbuf[3]=0;\nbuf[4]=0x29;\nbuf[5]=0; // UUID ncapId 0\nbuf[6]=0; // 1\nbuf[7]=0; // 2\nbuf[8]=0; // 3\nbuf[9]=0; // 4\nbuf[10]=0; // 5\nbuf[11]=0; // 6\nbuf[12]=0; // 7\nbuf[13]=0; // 8\nbuf[14]=0; // 9\nbuf[15]=0; // UUID timId 0\nbuf[16]=0; // 1\nbuf[17]=0; // 2\nbuf[18]=0; // 3\nbuf[19]=0; // 4\nbuf[20]=0; // 5\nbuf[21]=0; // 6\nbuf[22]=0; // 7\nbuf[23]=0; // 8\nbuf[24]=3; // 9\nbuf[25]=0; // ChannelId 0 = 1\nbuf[26]=1; // 3\nbuf[27]=0; // TimeDuration 0\nbuf[28]=0; // 1\nbuf[29]=0; // 2\nbuf[30]=0; // 3\nbuf[31]=0; // 4\nbuf[32]=0; // 5\nbuf[33]=0; // 6\nbuf[34]=0; // 7\nbuf[35]=0; // SamplingMode 0\nbuf[36]=0; // 1\nbuf[37]=0; // DiscoveryId 0\nbuf[38]=0; // 4\nbuf[39]=0; // 5\nbuf[40]=0; // 6\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "4e5e097e.697528",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "ILLUMI-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "1f867301.b45e6d"
            ]
        ]
    },
    {
        "id": "1f867301.b45e6d",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "e960bf17.9f3d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "ILLUMI-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "7ad03cdd.f1fe74"
            ]
        ]
    },
    {
        "id": "7ad03cdd.f1fe74",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "ILLUMI D0 BIN",
        "func": "var buf = new Buffer(41); // バイナリの配列をつくる\nbuf[0]=2;\nbuf[1]=1;\nbuf[2]=1;\nbuf[3]=0;\nbuf[4]=0x29;\nbuf[5]=0; // UUID ncapId 0\nbuf[6]=0; // 1\nbuf[7]=0; // 2\nbuf[8]=0; // 3\nbuf[9]=0; // 4\nbuf[10]=0; // 5\nbuf[11]=0; // 6\nbuf[12]=0; // 7\nbuf[13]=0; // 8\nbuf[14]=0; // 9\nbuf[15]=0; // UUID timId 0\nbuf[16]=0; // 1\nbuf[17]=0; // 2\nbuf[18]=0; // 3\nbuf[19]=0; // 4\nbuf[20]=0; // 5\nbuf[21]=0; // 6\nbuf[22]=0; // 7\nbuf[23]=0; // 8\nbuf[24]=4; // 9\nbuf[25]=0; // ChannelId 0 = 1\nbuf[26]=1; // 3\nbuf[27]=0; // TimeDuration 0\nbuf[28]=0; // 1\nbuf[29]=0; // 2\nbuf[30]=0; // 3\nbuf[31]=0; // 4\nbuf[32]=0; // 5\nbuf[33]=0; // 6\nbuf[34]=0; // 7\nbuf[35]=0; // SamplingMode 0\nbuf[36]=0; // 1\nbuf[37]=0; // DiscoveryId 0\nbuf[38]=0; // 4\nbuf[39]=0; // 5\nbuf[40]=0; // 6\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "a9240fdc.bfddd",
        "type": "ui_toast",
        "z": "ce7fa268.9d67c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "eee9c750.34d7e8",
        "type": "function",
        "z": "ce7fa268.9d67c",
        "name": "THRU",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 300,
        "wires": [
            [
                "914abb27.83ecc8",
                "c7195ef4.6f0c4",
                "17ce7a12.d0f976"
            ]
        ]
    },
    {
        "id": "2bf4434.107a2bc",
        "type": "ui_toast",
        "z": "8eeddedf.a2b48",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1300,
        "y": 220,
        "wires": []
    },
    {
        "id": "50f3ded4.24f07",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "THRU",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 260,
        "wires": [
            [
                "13bd6858.070f28",
                "518b2c6f.130cd4",
                "8a573557.994548"
            ]
        ]
    },
    {
        "id": "1e2a9640.3dd46a",
        "type": "ui_toast",
        "z": "8eeddedf.a2b48",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "9382b121.a7781",
        "type": "switch",
        "z": "8eeddedf.a2b48",
        "name": "",
        "property": "timid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 1030,
        "y": 880,
        "wires": [
            [
                "e3f0020d.e9f6c"
            ],
            [
                "d82939fd.fdb788"
            ],
            [
                "e81e4ba5.4c8048"
            ],
            [
                "3121c270.91931e"
            ],
            [
                "ba5dbc6.4f03d4"
            ]
        ]
    },
    {
        "id": "518b2c6f.130cd4",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "d82939fd.fdb788",
        "type": "ui_gauge",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMID-D0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1230,
        "y": 860,
        "wires": []
    },
    {
        "id": "3121c270.91931e",
        "type": "ui_gauge",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "e960bf17.9f3d",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "UV-D0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1210,
        "y": 940,
        "wires": []
    },
    {
        "id": "ba5dbc6.4f03d4",
        "type": "ui_gauge",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "e960bf17.9f3d",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ILLUMI-D0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1230,
        "y": 980,
        "wires": []
    },
    {
        "id": "e81e4ba5.4c8048",
        "type": "ui_gauge",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PRES-D0",
        "label": "units",
        "format": "{{value}}",
        "min": "950",
        "max": "1050",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1220,
        "y": 900,
        "wires": []
    },
    {
        "id": "4a5798f7.8ebd18",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "HUMID-TEDS-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "ba8d0525.261d48"
            ]
        ]
    },
    {
        "id": "352dd4ab.787d4c",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "TEMP-TEDS-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "d2187a9b.240568"
            ]
        ]
    },
    {
        "id": "a5d72db5.b4e58",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "UV-TEDS-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "cb74ef47.f7d41"
            ]
        ]
    },
    {
        "id": "876a1c98.4ec77",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "ILLUMI-TEDS-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "4f0c78ad.72b768"
            ]
        ]
    },
    {
        "id": "205bca7b.64ab56",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "PRES-TEDS-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001",
        "payloadType": "str",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "c0c62e89.bd306"
            ]
        ]
    },
    {
        "id": "ba8d0525.261d48",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-TEDS-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3,2,1,10,0x00000000000000000000,0x00000000000000000001,1,1,2,4,0,0,0x00000000000000000001",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 450,
        "y": 360,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "d2187a9b.240568",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP-TEDS-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3,2,1,10,0x00000000000000000000,0x00000000000000000000,1,1,2,4,0,0,0x00000000000000000001",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "cb74ef47.f7d41",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "UV-TEDS-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3,2,1,10,0x00000000000000000000,0x00000000000000000003,1,1,2,4,0,0,0x00000000000000000001",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 440,
        "y": 440,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "4f0c78ad.72b768",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "ILLUMI-TEDS-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3,2,1,10,0x00000000000000000000,0x00000000000000000004,1,1,2,4,0,0,0x00000000000000000001",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 450,
        "y": 480,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "c0c62e89.bd306",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "PRES-TEDS-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3,2,1,10,0x00000000000000000000,0x00000000000000000002,1,1,2,4,0,0,0x00000000000000000001",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "17ce7a12.d0f976",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "bbd8e6f3.241e68",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "eab5c2f5.a54b9",
        "type": "function",
        "z": "ce7fa268.9d67c",
        "name": "Array2Str",
        "func": "pa = msg.payload.split(',');\nmsg.typeid = pa.slice(0,3).join();\nmsg.timid = pa.slice(6,7);\nmsg.sample = pa.slice(8,9);\nmsg.teds = pa.slice(10,11);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 700,
        "wires": [
            [
                "bbd8e6f3.241e68",
                "a9240fdc.bfddd",
                "988f4012.dfaa7",
                "c05096c5.c1b8e8",
                "dba5f24c.500f1",
                "809fecb1.3bb16",
                "b513103d.2132f"
            ]
        ]
    },
    {
        "id": "c05096c5.c1b8e8",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "timid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "988f4012.dfaa7",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "typeid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 540,
        "wires": []
    },
    {
        "id": "dba5f24c.500f1",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sample",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 620,
        "wires": []
    },
    {
        "id": "809fecb1.3bb16",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "teds",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 660,
        "wires": []
    },
    {
        "id": "b513103d.2132f",
        "type": "switch",
        "z": "ce7fa268.9d67c",
        "name": "",
        "property": "typeid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2,1,2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3,2,2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 920,
        "wires": [
            [
                "bec453af.5a785"
            ],
            [
                "96679f05.12629"
            ]
        ]
    },
    {
        "id": "bec453af.5a785",
        "type": "template",
        "z": "ce7fa268.9d67c",
        "name": "sample",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{sample}}",
        "output": "str",
        "x": 760,
        "y": 820,
        "wires": [
            [
                "e2c1c13a.07283"
            ]
        ]
    },
    {
        "id": "96679f05.12629",
        "type": "template",
        "z": "ce7fa268.9d67c",
        "name": "TEDS",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{teds}}",
        "output": "str",
        "x": 750,
        "y": 940,
        "wires": [
            [
                "3b63d0f6.e4dfb"
            ]
        ]
    },
    {
        "id": "3b63d0f6.e4dfb",
        "type": "ui_text",
        "z": "ce7fa268.9d67c",
        "group": "21792d07.e6fa52",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "D0C TEDS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 940,
        "wires": []
    },
    {
        "id": "61b05f8a.2981b",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "TEMP-TEDS-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "a5977031.f865a"
            ]
        ]
    },
    {
        "id": "a5977031.f865a",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP-TEDS-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "cd2966a2.2dfaf8"
            ]
        ]
    },
    {
        "id": "6e6784aa.b9b3dc",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "HUMID-TEDS-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "6c235d39.d46794"
            ]
        ]
    },
    {
        "id": "6c235d39.d46794",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-TEDS-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "f5fb411f.821f2"
            ]
        ]
    },
    {
        "id": "36e891bd.2ad0ce",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "PRES-TEDS-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "7b1ee8e4.7f5f58"
            ]
        ]
    },
    {
        "id": "7b1ee8e4.7f5f58",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "PRES-TEDS-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "34af678.2e50398"
            ]
        ]
    },
    {
        "id": "d452666c.269138",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "UV-TEDS-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "b9e603ee.51b4d"
            ]
        ]
    },
    {
        "id": "b9e603ee.51b4d",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "UV-D0-TEDS-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "d0749e4d.ba305"
            ]
        ]
    },
    {
        "id": "ad3b992f.192c88",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "ILLUMI-TEDS-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "4f723cc4.9e9074"
            ]
        ]
    },
    {
        "id": "4f723cc4.9e9074",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "ILLUMI-TEDS-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "3bfce9d2.49d396"
            ]
        ]
    },
    {
        "id": "cd2966a2.2dfaf8",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "TEMP TEDS D0 BIN",
        "func": "var buf = new Buffer(46); // バイナリの配列をつくる\nbuf[0]=3;\nbuf[1]=2;\nbuf[2]=1;\nbuf[3]=0x2e;\nbuf[4]=0;\nbuf[5]=0; // UUID ncapId 0\nbuf[6]=0; // 1\nbuf[7]=0; // 2\nbuf[8]=0; // 3\nbuf[9]=0; // 4\nbuf[10]=0; // 5\nbuf[11]=0; // 6\nbuf[12]=0; // 7\nbuf[13]=0; // 8\nbuf[14]=0; // 9\nbuf[15]=0; // UUID timId 0\nbuf[16]=0; // 1\nbuf[17]=0; // 2\nbuf[18]=0; // 3\nbuf[19]=0; // 4\nbuf[20]=0; // 5\nbuf[21]=0; // 6\nbuf[22]=0; // 7\nbuf[23]=0; // 8\nbuf[24]=0; // 9\nbuf[25]=0; // ChannelId 0 = 1\nbuf[26]=1; // 1\nbuf[27]=1; // cmdClassId = 1\nbuf[28]=2; // cmdFunctionId = 2\nbuf[29]=4; // TedsAccessCode = 2\nbuf[30]=0; // tedsOffset 0 = 0\nbuf[31]=0; // 1\nbuf[32]=0; // 2\nbuf[33]=0; // 3\nbuf[34]=0; // timeout 0\nbuf[35]=0; // 1\nbuf[36]=0; // 2\nbuf[37]=0; // 3\nbuf[38]=0; // 4\nbuf[39]=0; // 5\nbuf[40]=0; // 6\nbuf[41]=0; // 7\nbuf[42]=0; // Session ID 0\nbuf[43]=0; // 4\nbuf[44]=0; // 5\nbuf[45]=0; // 6\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 300,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "f5fb411f.821f2",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "HUMID TEDS D0 BIN",
        "func": "var buf = new Buffer(46); // バイナリの配列をつくる\nbuf[0]=3;\nbuf[1]=2;\nbuf[2]=1;\nbuf[3]=0x2e;\nbuf[4]=0;\nbuf[5]=0; // UUID ncapId 0\nbuf[6]=0; // 1\nbuf[7]=0; // 2\nbuf[8]=0; // 3\nbuf[9]=0; // 4\nbuf[10]=0; // 5\nbuf[11]=0; // 6\nbuf[12]=0; // 7\nbuf[13]=0; // 8\nbuf[14]=0; // 9\nbuf[15]=0; // UUID timId 0\nbuf[16]=0; // 1\nbuf[17]=0; // 2\nbuf[18]=0; // 3\nbuf[19]=0; // 4\nbuf[20]=0; // 5\nbuf[21]=0; // 6\nbuf[22]=0; // 7\nbuf[23]=0; // 8\nbuf[24]=1; // 9\nbuf[25]=0; // ChannelId 0 = 1\nbuf[26]=1; // 1\nbuf[27]=1; // cmdClassId = 1\nbuf[28]=2; // cmdFunctionId = 2\nbuf[29]=4; // TedsAccessCode = 2\nbuf[30]=0; // tedsOffset 0 = 0\nbuf[31]=0; // 1\nbuf[32]=0; // 2\nbuf[33]=0; // 3\nbuf[34]=0; // timeout 0\nbuf[35]=0; // 1\nbuf[36]=0; // 2\nbuf[37]=0; // 3\nbuf[38]=0; // 4\nbuf[39]=0; // 5\nbuf[40]=0; // 6\nbuf[41]=0; // 7\nbuf[42]=0; // Session ID 0\nbuf[43]=0; // 4\nbuf[44]=0; // 5\nbuf[45]=0; // 6\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 340,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "34af678.2e50398",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "PRES TEDS D0 BIN",
        "func": "var buf = new Buffer(46); // バイナリの配列をつくる\nbuf[0]=3;\nbuf[1]=2;\nbuf[2]=1;\nbuf[3]=0x2e;\nbuf[4]=0;\nbuf[5]=0; // UUID ncapId 0\nbuf[6]=0; // 1\nbuf[7]=0; // 2\nbuf[8]=0; // 3\nbuf[9]=0; // 4\nbuf[10]=0; // 5\nbuf[11]=0; // 6\nbuf[12]=0; // 7\nbuf[13]=0; // 8\nbuf[14]=0; // 9\nbuf[15]=0; // UUID timId 0\nbuf[16]=0; // 1\nbuf[17]=0; // 2\nbuf[18]=0; // 3\nbuf[19]=0; // 4\nbuf[20]=0; // 5\nbuf[21]=0; // 6\nbuf[22]=0; // 7\nbuf[23]=0; // 8\nbuf[24]=2; // 9\nbuf[25]=0; // ChannelId 0 = 1\nbuf[26]=1; // 1\nbuf[27]=1; // cmdClassId = 1\nbuf[28]=2; // cmdFunctionId = 2\nbuf[29]=4; // TedsAccessCode = 2\nbuf[30]=0; // tedsOffset 0 = 0\nbuf[31]=0; // 1\nbuf[32]=0; // 2\nbuf[33]=0; // 3\nbuf[34]=0; // timeout 0\nbuf[35]=0; // 1\nbuf[36]=0; // 2\nbuf[37]=0; // 3\nbuf[38]=0; // 4\nbuf[39]=0; // 5\nbuf[40]=0; // 6\nbuf[41]=0; // 7\nbuf[42]=0; // Session ID 0\nbuf[43]=0; // 4\nbuf[44]=0; // 5\nbuf[45]=0; // 6\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 380,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "d0749e4d.ba305",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "UV TEDS D0 BIN",
        "func": "var buf = new Buffer(46); // バイナリの配列をつくる\nbuf[0]=3;\nbuf[1]=2;\nbuf[2]=1;\nbuf[3]=0x2e;\nbuf[4]=0;\nbuf[5]=0; // UUID ncapId 0\nbuf[6]=0; // 1\nbuf[7]=0; // 2\nbuf[8]=0; // 3\nbuf[9]=0; // 4\nbuf[10]=0; // 5\nbuf[11]=0; // 6\nbuf[12]=0; // 7\nbuf[13]=0; // 8\nbuf[14]=0; // 9\nbuf[15]=0; // UUID timId 0\nbuf[16]=0; // 1\nbuf[17]=0; // 2\nbuf[18]=0; // 3\nbuf[19]=0; // 4\nbuf[20]=0; // 5\nbuf[21]=0; // 6\nbuf[22]=0; // 7\nbuf[23]=0; // 8\nbuf[24]=3; // 9\nbuf[25]=0; // ChannelId 0 = 1\nbuf[26]=1; // 1\nbuf[27]=1; // cmdClassId = 1\nbuf[28]=2; // cmdFunctionId = 2\nbuf[29]=4; // TedsAccessCode = 2\nbuf[30]=0; // tedsOffset 0 = 0\nbuf[31]=0; // 1\nbuf[32]=0; // 2\nbuf[33]=0; // 3\nbuf[34]=0; // timeout 0\nbuf[35]=0; // 1\nbuf[36]=0; // 2\nbuf[37]=0; // 3\nbuf[38]=0; // 4\nbuf[39]=0; // 5\nbuf[40]=0; // 6\nbuf[41]=0; // 7\nbuf[42]=0; // Session ID 0\nbuf[43]=0; // 4\nbuf[44]=0; // 5\nbuf[45]=0; // 6\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 420,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "3bfce9d2.49d396",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "ILLUMI TEDS D0 BIN",
        "func": "var buf = new Buffer(46); // バイナリの配列をつくる\nbuf[0]=3;\nbuf[1]=2;\nbuf[2]=1;\nbuf[3]=0x2e;\nbuf[4]=0;\nbuf[5]=0; // UUID ncapId 0\nbuf[6]=0; // 1\nbuf[7]=0; // 2\nbuf[8]=0; // 3\nbuf[9]=0; // 4\nbuf[10]=0; // 5\nbuf[11]=0; // 6\nbuf[12]=0; // 7\nbuf[13]=0; // 8\nbuf[14]=0; // 9\nbuf[15]=0; // UUID timId 0\nbuf[16]=0; // 1\nbuf[17]=0; // 2\nbuf[18]=0; // 3\nbuf[19]=0; // 4\nbuf[20]=0; // 5\nbuf[21]=0; // 6\nbuf[22]=0; // 7\nbuf[23]=0; // 8\nbuf[24]=4; // 9\nbuf[25]=0; // ChannelId 0 = 1\nbuf[26]=1; // 1\nbuf[27]=1; // cmdClassId = 1\nbuf[28]=2; // cmdFunctionId = 2\nbuf[29]=4; // TedsAccessCode = 2\nbuf[30]=0; // tedsOffset 0 = 0\nbuf[31]=0; // 1\nbuf[32]=0; // 2\nbuf[33]=0; // 3\nbuf[34]=0; // timeout 0\nbuf[35]=0; // 1\nbuf[36]=0; // 2\nbuf[37]=0; // 3\nbuf[38]=0; // 4\nbuf[39]=0; // 5\nbuf[40]=0; // 6\nbuf[41]=0; // 7\nbuf[42]=0; // Session ID 0\nbuf[43]=0; // 4\nbuf[44]=0; // 5\nbuf[45]=0; // 6\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 460,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "a7a355ca.a32038",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 840,
        "wires": []
    },
    {
        "id": "7a33c49e.8ed42c",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "timid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 720,
        "wires": []
    },
    {
        "id": "1a91458e.e8e2ca",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "typeid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "9fee31fe.f9134",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sample",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 760,
        "wires": []
    },
    {
        "id": "ab54705c.ab38f",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "teds",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "a1bf1fb2.4c964",
        "type": "switch",
        "z": "8eeddedf.a2b48",
        "name": "",
        "property": "typeid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2,1,2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3,2,2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "eb66c937.fe6a98"
            ],
            [
                "3555dcff.e30874"
            ]
        ]
    },
    {
        "id": "eb66c937.fe6a98",
        "type": "template",
        "z": "8eeddedf.a2b48",
        "name": "sample",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{sample}}",
        "output": "str",
        "x": 860,
        "y": 920,
        "wires": [
            [
                "9382b121.a7781"
            ]
        ]
    },
    {
        "id": "3555dcff.e30874",
        "type": "template",
        "z": "8eeddedf.a2b48",
        "name": "TEDS",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{teds}}",
        "output": "str",
        "x": 850,
        "y": 1080,
        "wires": [
            [
                "9f1ae063.07fd6"
            ]
        ]
    },
    {
        "id": "9f1ae063.07fd6",
        "type": "ui_text",
        "z": "8eeddedf.a2b48",
        "group": "3a3f9853.90cc98",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "D0 TEDS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1040,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8a573557.994548",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "ArrayJoin",
        "func": "msg.payload = msg.payload.join()\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 220,
        "wires": [
            [
                "2bf4434.107a2bc"
            ]
        ]
    },
    {
        "id": "fee7a83b.b28ba8",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "ArrayJoin",
        "func": "msg.payload = msg.payload.join()\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 620,
        "wires": [
            [
                "1e2a9640.3dd46a"
            ]
        ]
    }
]
