NetworkService/node-red-flow.json
[
    {
        "id": "2310d924.54b816",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4cfc5f6f.2f6a2",
        "type": "udp in",
        "z": "2310d924.54b816",
        "name": "Subscribe",
        "iface": "",
        "port": "1883",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "37199233.76a2ee",
                "53947c8d.4bb00c"
            ]
        ]
    },
    {
        "id": "c3e990e0.8126e",
        "type": "udp out",
        "z": "2310d924.54b816",
        "name": "",
        "addr": "10.24.100.100",
        "iface": "",
        "port": "1883",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "d3b881fb.983c1",
        "type": "inject",
        "z": "2310d924.54b816",
        "name": "Publish test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "300c0004686f67650068656c6c6f",
        "payloadType": "str",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "6b2b8bc2.962f74"
            ]
        ]
    },
    {
        "id": "ae73921e.8bba8",
        "type": "function",
        "z": "2310d924.54b816",
        "name": "",
        "func": "msg.payload = Buffer.from(msg.payload, 'hex');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "c3e990e0.8126e"
            ]
        ]
    },
    {
        "id": "37199233.76a2ee",
        "type": "debug",
        "z": "2310d924.54b816",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "b425ee3e.e38a7",
        "type": "debug",
        "z": "2310d924.54b816",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "3fe978bf.e7eaf8",
        "type": "inject",
        "z": "2310d924.54b816",
        "name": "Subscribe request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "800c0004686f67650068656c6c6f",
        "payloadType": "str",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "6b2b8bc2.962f74"
            ]
        ]
    },
    {
        "id": "53947c8d.4bb00c",
        "type": "split",
        "z": "2310d924.54b816",
        "name": "",
        "splt": "#",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "eeec2efe.1726d",
                "bc1e0cf2.c84028"
            ]
        ]
    },
    {
        "id": "eeec2efe.1726d",
        "type": "debug",
        "z": "2310d924.54b816",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "bc1e0cf2.c84028",
        "type": "switch",
        "z": "2310d924.54b816",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "1:",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "fd59b251.71006"
            ]
        ]
    },
    {
        "id": "fd59b251.71006",
        "type": "debug",
        "z": "2310d924.54b816",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "1450e566.11ed4b",
        "type": "inject",
        "z": "2310d924.54b816",
        "name": "Publish test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "300c0004686f67610068656c6c6f",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "6b2b8bc2.962f74"
            ]
        ]
    },
    {
        "id": "6b2b8bc2.962f74",
        "type": "function",
        "z": "2310d924.54b816",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "ae73921e.8bba8",
                "b425ee3e.e38a7"
            ]
        ]
    },
    {
        "id": "798bf29a.21d6ac",
        "type": "inject",
        "z": "2310d924.54b816",
        "name": "Publish test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "300c0004686f676100313a302b30",
        "payloadType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "6b2b8bc2.962f74"
            ]
        ]
    },
    {
        "id": "962d0a41.511468",
        "type": "inject",
        "z": "2310d924.54b816",
        "name": "Publish test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "300c0004686f676100313a312b31",
        "payloadType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "6b2b8bc2.962f74"
            ]
        ]
    }
]
