NetworkService/node-red-flow.json
[{"id":"8c669873.b9ca38","type":"tab","label":"D","disabled":false,"info":""},{"id":"ce7fa268.9d67c","type":"tab","label":"D0C","disabled":false,"info":""},{"id":"69053d56.095ee4","type":"mqtt-broker","name":"local(10.1.5.70)","broker":"10.1.5.70","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28fc1298.f8e59e","type":"ui_tab","name":"DASHBOARD","icon":"dashboard","disabled":false,"hidden":false},{"id":"ed9db952.c89918","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"37491b3c.791b74","type":"ui_group","name":"TEMP/HUMID/PRES","tab":"28fc1298.f8e59e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a09e5a80.f4a6a8","type":"ui_group","name":"GEOMAG/ACCEL","tab":"28fc1298.f8e59e","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c7a80107.37e9f","type":"ui_group","name":"ILLUMI/UV","tab":"28fc1298.f8e59e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"86483328.1e604","type":"ui_tab","name":"Request-Response","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"74864aa2.194b24","type":"ui_group","name":"TEMP/HUMID/PRES","tab":"86483328.1e604","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c3134a.6ced2cb8","type":"ui_group","name":"UV/ILLUMI","tab":"86483328.1e604","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dbabdd85.32707","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/TEMP","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":280,"y":80,"wires":[["1e6e1155.861f0f","9c5aece3.3c80a"]]},{"id":"f9584b82.67d078","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/HUMID","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":280,"y":140,"wires":[["40ab9d6b.be1f64","e70b00c1.50f3e"]]},{"id":"e2e652b2.00703","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/PRES","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":280,"y":200,"wires":[["beeba432.d7e938","584e2b9.c3503d4"]]},{"id":"de38626f.e95a3","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/ILLUMI","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":280,"y":260,"wires":[["ead888a3.844ea8","c4a2d658.38f4d8"]]},{"id":"28168534.383bba","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/UV","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":270,"y":320,"wires":[["870a7553.596ed8","c446c710.184528"]]},{"id":"56fd6ee.6e5899","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/GEOMAGX","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":300,"y":380,"wires":[["3bec661.4f55b9a"]]},{"id":"bf1a6a55.ded108","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/GEOMAGY","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":300,"y":440,"wires":[["9fbe6436.30d008"]]},{"id":"b3fcd613.5e7298","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/GEOMAGZ","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":300,"y":500,"wires":[["5b72c637.2febc8"]]},{"id":"4b7dbed9.56f0a","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/ACCELX","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":290,"y":560,"wires":[["836a4e3c.b89b3"]]},{"id":"a51e7f12.590aa","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/ACCELY","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":290,"y":620,"wires":[["6f0a336.67d54cc"]]},{"id":"283d0e48.2e9f42","type":"mqtt in","z":"8c669873.b9ca38","name":"","topic":"_1451.1.6/D/plugfest/2021/ncap0/1/ACCELZ","qos":"2","datatype":"auto","broker":"69053d56.095ee4","x":290,"y":680,"wires":[["fc4a2af3.a4c038"]]},{"id":"146a579b.f61af8","type":"change","z":"8c669873.b9ca38","name":"","rules":[{"t":"delete","p":"qos","pt":"msg"},{"t":"delete","p":"retain","pt":"msg"},{"t":"delete","p":"_topic","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":380,"wires":[["c3ac162c.0ce088"]]},{"id":"c3ac162c.0ce088","type":"join","z":"8c669873.b9ca38","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"[92,110]","joinerType":"bin","accumulate":false,"timeout":"1","count":"3","reduceRight":false,"reduceExp":"{msg.payload}","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1190,"y":440,"wires":[["bc34ade.f804d5"]]},{"id":"3bec661.4f55b9a","type":"simplejs","z":"8c669873.b9ca38","func":"parse-float","property":"payload","name":"","x":610,"y":380,"wires":[["146a579b.f61af8"]]},{"id":"9fbe6436.30d008","type":"simplejs","z":"8c669873.b9ca38","func":"parse-float","property":"payload","name":"","x":610,"y":440,"wires":[["50a8d07.bb8e13"]]},{"id":"5b72c637.2febc8","type":"simplejs","z":"8c669873.b9ca38","func":"parse-float","property":"payload","name":"","x":610,"y":500,"wires":[["6d63cdee.edcb34"]]},{"id":"50a8d07.bb8e13","type":"change","z":"8c669873.b9ca38","name":"","rules":[{"t":"delete","p":"qos","pt":"msg"},{"t":"delete","p":"retain","pt":"msg"},{"t":"delete","p":"_topic","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":440,"wires":[["c3ac162c.0ce088"]]},{"id":"6d63cdee.edcb34","type":"change","z":"8c669873.b9ca38","name":"","rules":[{"t":"delete","p":"qos","pt":"msg"},{"t":"delete","p":"retain","pt":"msg"},{"t":"delete","p":"_topic","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":500,"wires":[["c3ac162c.0ce088"]]},{"id":"bc34ade.f804d5","type":"calculator","z":"8c669873.b9ca38","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sum","constant":"","round":true,"decimals":"3","x":1310,"y":440,"wires":[["5038e298.7c7f6c","78190007.75401"]]},{"id":"8259c3b5.cc641","type":"change","z":"8c669873.b9ca38","name":"","rules":[{"t":"delete","p":"qos","pt":"msg"},{"t":"delete","p":"retain","pt":"msg"},{"t":"delete","p":"_topic","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":560,"wires":[["2c8e2529.e7f4ca"]]},{"id":"1f2dc1f2.5e86fe","type":"join","z":"8c669873.b9ca38","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"[92,110]","joinerType":"bin","accumulate":false,"timeout":"1","count":"3","reduceRight":false,"reduceExp":"{msg.payload}","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1190,"y":620,"wires":[["ce8fc39b.977e3"]]},{"id":"836a4e3c.b89b3","type":"simplejs","z":"8c669873.b9ca38","func":"parse-float","property":"payload","name":"","x":610,"y":560,"wires":[["8259c3b5.cc641"]]},{"id":"6f0a336.67d54cc","type":"simplejs","z":"8c669873.b9ca38","func":"parse-float","property":"payload","name":"","x":610,"y":620,"wires":[["75b73f1e.a5e03"]]},{"id":"fc4a2af3.a4c038","type":"simplejs","z":"8c669873.b9ca38","func":"parse-float","property":"payload","name":"","x":610,"y":680,"wires":[["768bfbff.76c9e4"]]},{"id":"75b73f1e.a5e03","type":"change","z":"8c669873.b9ca38","name":"","rules":[{"t":"delete","p":"qos","pt":"msg"},{"t":"delete","p":"retain","pt":"msg"},{"t":"delete","p":"_topic","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":620,"wires":[["9da9baff.b2b0c8"]]},{"id":"768bfbff.76c9e4","type":"change","z":"8c669873.b9ca38","name":"","rules":[{"t":"delete","p":"qos","pt":"msg"},{"t":"delete","p":"retain","pt":"msg"},{"t":"delete","p":"_topic","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":680,"wires":[["ebf6c4b5.b610d8"]]},{"id":"ce8fc39b.977e3","type":"calculator","z":"8c669873.b9ca38","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sum","constant":"","round":true,"decimals":"3","x":1310,"y":620,"wires":[["e3d548a8.f04fc8","2b4b4a0f.44df86"]]},{"id":"2c8e2529.e7f4ca","type":"calculator","z":"8c669873.b9ca38","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"abs","constant":"","round":false,"decimals":"0","x":1000,"y":560,"wires":[["1f2dc1f2.5e86fe"]]},{"id":"9da9baff.b2b0c8","type":"calculator","z":"8c669873.b9ca38","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"abs","constant":"","round":false,"decimals":"0","x":1000,"y":620,"wires":[["1f2dc1f2.5e86fe"]]},{"id":"ebf6c4b5.b610d8","type":"calculator","z":"8c669873.b9ca38","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"abs","constant":"","round":false,"decimals":"0","x":1000,"y":680,"wires":[["1f2dc1f2.5e86fe"]]},{"id":"1e6e1155.861f0f","type":"ui_chart","z":"8c669873.b9ca38","name":"","group":"37491b3c.791b74","order":2,"width":0,"height":0,"label":"TEMPs","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":560,"y":80,"wires":[[]]},{"id":"9c5aece3.3c80a","type":"ui_gauge","z":"8c669873.b9ca38","name":"","group":"37491b3c.791b74","order":1,"width":0,"height":0,"gtype":"gage","title":"TEMP","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":100,"wires":[]},{"id":"40ab9d6b.be1f64","type":"ui_chart","z":"8c669873.b9ca38","name":"","group":"37491b3c.791b74","order":4,"width":0,"height":0,"label":"HUMIDs","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":560,"y":140,"wires":[[]]},{"id":"e70b00c1.50f3e","type":"ui_gauge","z":"8c669873.b9ca38","name":"","group":"37491b3c.791b74","order":3,"width":0,"height":0,"gtype":"gage","title":"HUMID","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":660,"y":160,"wires":[]},{"id":"beeba432.d7e938","type":"ui_chart","z":"8c669873.b9ca38","name":"","group":"37491b3c.791b74","order":6,"width":0,"height":0,"label":"PRESs","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":560,"y":200,"wires":[[]]},{"id":"584e2b9.c3503d4","type":"ui_gauge","z":"8c669873.b9ca38","name":"","group":"37491b3c.791b74","order":5,"width":0,"height":0,"gtype":"gage","title":"PRES","label":"units","format":"{{value}}","min":"900","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":220,"wires":[]},{"id":"ead888a3.844ea8","type":"ui_chart","z":"8c669873.b9ca38","name":"","group":"c7a80107.37e9f","order":2,"width":0,"height":0,"label":"ILLUMIs","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":560,"y":260,"wires":[[]]},{"id":"c4a2d658.38f4d8","type":"ui_gauge","z":"8c669873.b9ca38","name":"","group":"c7a80107.37e9f","order":1,"width":0,"height":0,"gtype":"gage","title":"ILLUMI","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":660,"y":280,"wires":[]},{"id":"870a7553.596ed8","type":"ui_chart","z":"8c669873.b9ca38","name":"","group":"c7a80107.37e9f","order":4,"width":0,"height":0,"label":"UVs","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":320,"wires":[[]]},{"id":"c446c710.184528","type":"ui_gauge","z":"8c669873.b9ca38","name":"","group":"c7a80107.37e9f","order":3,"width":0,"height":0,"gtype":"gage","title":"UV","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":340,"wires":[]},{"id":"5038e298.7c7f6c","type":"ui_chart","z":"8c669873.b9ca38","name":"","group":"a09e5a80.f4a6a8","order":2,"width":0,"height":0,"label":"GEOMAGs","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1450,"y":440,"wires":[[]]},{"id":"78190007.75401","type":"ui_gauge","z":"8c669873.b9ca38","name":"","group":"a09e5a80.f4a6a8","order":1,"width":0,"height":0,"gtype":"gage","title":"GEOMAG","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1540,"y":460,"wires":[]},{"id":"e3d548a8.f04fc8","type":"ui_chart","z":"8c669873.b9ca38","name":"","group":"a09e5a80.f4a6a8","order":4,"width":0,"height":0,"label":"ACCELs","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1440,"y":620,"wires":[[]]},{"id":"2b4b4a0f.44df86","type":"ui_gauge","z":"8c669873.b9ca38","name":"","group":"a09e5a80.f4a6a8","order":3,"width":0,"height":0,"gtype":"gage","title":"ACCELL","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1540,"y":640,"wires":[]},{"id":"a7b09d3b.d70c3","type":"inject","z":"ce7fa268.9d67c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001","payloadType":"str","x":130,"y":140,"wires":[["a8ffe910.ac1108"]]},{"id":"ef2645.aa4399b8","type":"mqtt out","z":"ce7fa268.9d67c","name":"","topic":"_1451.1.6/D0C/plugfest/2021/ncap0","qos":"0","retain":"","broker":"69053d56.095ee4","x":550,"y":140,"wires":[]},{"id":"a8ffe910.ac1108","type":"ui_button","z":"ce7fa268.9d67c","name":"","group":"74864aa2.194b24","order":4,"width":0,"height":0,"passthru":true,"label":"HUMID-REQ","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2,1,1,10,0x00000000000000000000,0x0000000000000001,1,11,12,0x00000000000000000001","payloadType":"str","topic":"","topicType":"str","x":280,"y":140,"wires":[["ef2645.aa4399b8"]]},{"id":"9233c205.7b666","type":"ui_text","z":"ce7fa268.9d67c","group":"74864aa2.194b24","order":5,"width":0,"height":0,"name":"","label":"HUMID-TXT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1190,"y":460,"wires":[]},{"id":"981b713a.cd608","type":"ui_gauge","z":"ce7fa268.9d67c","name":"","group":"74864aa2.194b24","order":6,"width":0,"height":0,"gtype":"gage","title":"HUMID","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1200,"y":480,"wires":[]},{"id":"69eb607b.b3b63","type":"inject","z":"ce7fa268.9d67c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001","payloadType":"str","x":130,"y":100,"wires":[["158f974a.8120e9"]]},{"id":"7398b1ac.a7386","type":"debug","z":"ce7fa268.9d67c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":360,"wires":[]},{"id":"1bc64e04.4f5f92","type":"mqtt out","z":"ce7fa268.9d67c","name":"","topic":"_1451.1.6/D0C/plugfest/2021/ncap0","qos":"0","retain":"","broker":"69053d56.095ee4","x":550,"y":100,"wires":[]},{"id":"aa82d986.0da128","type":"mqtt in","z":"ce7fa268.9d67c","name":"","topic":"_1451.1.6/D0C/plugfest/2021/application0","qos":"0","datatype":"auto","broker":"69053d56.095ee4","x":210,"y":400,"wires":[["38e89925.5fa636","c7195ef4.6f0c4","7398b1ac.a7386"]]},{"id":"158f974a.8120e9","type":"ui_button","z":"ce7fa268.9d67c","name":"","group":"74864aa2.194b24","order":1,"width":0,"height":0,"passthru":true,"label":"TEMP-REQ","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001","payloadType":"str","topic":"","topicType":"str","x":280,"y":100,"wires":[["1bc64e04.4f5f92"]]},{"id":"38e89925.5fa636","type":"change","z":"ce7fa268.9d67c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"^\\w+,\\w+,\\w+,\\w+,\\w+,\\w+,","fromt":"re","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":",0,0x\\w+$","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":440,"wires":[["e2c1c13a.07283","7398b1ac.a7386"]]},{"id":"d03fd082.7b2b1","type":"ui_text","z":"ce7fa268.9d67c","group":"74864aa2.194b24","order":2,"width":0,"height":0,"name":"","label":"TEMP-TXT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1190,"y":400,"wires":[]},{"id":"3a564ba5.c89664","type":"ui_gauge","z":"ce7fa268.9d67c","name":"","group":"74864aa2.194b24","order":3,"width":0,"height":0,"gtype":"gage","title":"TEMP","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1190,"y":420,"wires":[]},{"id":"e2c1c13a.07283","type":"switch","z":"ce7fa268.9d67c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"0x0000000000000000,","vt":"str"},{"t":"cont","v":"0x0000000000000001,","vt":"str"},{"t":"cont","v":"0x0000000000000002,","vt":"str"},{"t":"cont","v":"0x0000000000000003,","vt":"str"},{"t":"cont","v":"0x0000000000000004,","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":690,"y":480,"wires":[["ba071f1d.4de69"],["5bf2bc.581d4d44"],["6128a602.674b38"],["71bd38e2.93c8e8"],["195d2614.78041a"]]},{"id":"532799da.a953c8","type":"ui_text","z":"ce7fa268.9d67c","group":"74864aa2.194b24","order":8,"width":0,"height":0,"name":"","label":"UV-TXT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1180,"y":520,"wires":[]},{"id":"4964e0b7.bb20e","type":"ui_gauge","z":"ce7fa268.9d67c","name":"","group":"74864aa2.194b24","order":9,"width":0,"height":0,"gtype":"gage","title":"UV","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1190,"y":540,"wires":[]},{"id":"964df7c0.6a79f8","type":"ui_text","z":"ce7fa268.9d67c","group":"c3134a.6ced2cb8","order":2,"width":0,"height":0,"name":"","label":"ILLUMI-TXT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1190,"y":580,"wires":[]},{"id":"f6b45684.0d6ba8","type":"ui_gauge","z":"ce7fa268.9d67c","name":"","group":"c3134a.6ced2cb8","order":3,"width":0,"height":0,"gtype":"gage","title":"ILLUMI","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1200,"y":600,"wires":[]},{"id":"96117b78.2f1318","type":"ui_text","z":"ce7fa268.9d67c","group":"c3134a.6ced2cb8","order":5,"width":0,"height":0,"name":"","label":"PRES-TXT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1190,"y":640,"wires":[]},{"id":"69221249.80ab6c","type":"ui_gauge","z":"ce7fa268.9d67c","name":"","group":"c3134a.6ced2cb8","order":6,"width":0,"height":0,"gtype":"gage","title":"PRES","label":"units","format":"{{value}}","min":"950","max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1190,"y":660,"wires":[]},{"id":"7b4cc101.915a8","type":"inject","z":"ce7fa268.9d67c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001","payloadType":"str","x":130,"y":180,"wires":[["54e665c9.2d6aac"]]},{"id":"eec0758d.f4ab48","type":"mqtt out","z":"ce7fa268.9d67c","name":"","topic":"_1451.1.6/D0C/plugfest/2021/ncap0","qos":"0","retain":"","broker":"69053d56.095ee4","x":550,"y":180,"wires":[]},{"id":"54e665c9.2d6aac","type":"ui_button","z":"ce7fa268.9d67c","name":"","group":"74864aa2.194b24","order":7,"width":0,"height":0,"passthru":true,"label":"UV-REQ","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2,1,1,10,0x00000000000000000000,0x0000000000000002,1,11,12,0x00000000000000000001","payloadType":"str","topic":"","topicType":"str","x":270,"y":180,"wires":[["eec0758d.f4ab48"]]},{"id":"9d2c4c4e.76d5c","type":"inject","z":"ce7fa268.9d67c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001","payloadType":"str","x":130,"y":220,"wires":[["19311cec.200453"]]},{"id":"f181fc70.a5e06","type":"mqtt out","z":"ce7fa268.9d67c","name":"","topic":"_1451.1.6/D0C/plugfest/2021/ncap0","qos":"0","retain":"","broker":"69053d56.095ee4","x":550,"y":220,"wires":[]},{"id":"19311cec.200453","type":"ui_button","z":"ce7fa268.9d67c","name":"","group":"c3134a.6ced2cb8","order":1,"width":0,"height":0,"passthru":true,"label":"ILLUMI-REQ","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2,1,1,10,0x00000000000000000000,0x0000000000000003,1,11,12,0x00000000000000000001","payloadType":"str","topic":"","topicType":"str","x":280,"y":220,"wires":[["f181fc70.a5e06"]]},{"id":"36a38c38.abb3f4","type":"inject","z":"ce7fa268.9d67c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2,1,1,10,0x00000000000000000000,0x0000000000000000,1,11,12,0x00000000000000000001","payloadType":"str","x":130,"y":260,"wires":[["7589f3a5.4ba4cc"]]},{"id":"914abb27.83ecc8","type":"mqtt out","z":"ce7fa268.9d67c","name":"","topic":"_1451.1.6/D0C/plugfest/2021/ncap0","qos":"0","retain":"","broker":"69053d56.095ee4","x":550,"y":260,"wires":[]},{"id":"7589f3a5.4ba4cc","type":"ui_button","z":"ce7fa268.9d67c","name":"","group":"c3134a.6ced2cb8","order":4,"width":0,"height":0,"passthru":true,"label":"PRES-REQ","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2,1,1,10,0x00000000000000000000,0x0000000000000004,1,11,12,0x00000000000000000001","payloadType":"str","topic":"","topicType":"str","x":280,"y":260,"wires":[["914abb27.83ecc8"]]},{"id":"c7195ef4.6f0c4","type":"ui_toast","z":"ce7fa268.9d67c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":500,"y":400,"wires":[]},{"id":"ba071f1d.4de69","type":"change","z":"ce7fa268.9d67c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"^\\w+,\\w+,","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":440,"wires":[["d03fd082.7b2b1","3a564ba5.c89664"]]},{"id":"5bf2bc.581d4d44","type":"change","z":"ce7fa268.9d67c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"^\\w+,\\w+,","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":480,"wires":[["9233c205.7b666","981b713a.cd608"]]},{"id":"6128a602.674b38","type":"change","z":"ce7fa268.9d67c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"^\\w+,\\w+,","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":520,"wires":[["532799da.a953c8","4964e0b7.bb20e"]]},{"id":"71bd38e2.93c8e8","type":"change","z":"ce7fa268.9d67c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"^\\w+,\\w+,","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":560,"wires":[["964df7c0.6a79f8","f6b45684.0d6ba8"]]},{"id":"195d2614.78041a","type":"change","z":"ce7fa268.9d67c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"^\\w+,\\w+,","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":600,"wires":[["96117b78.2f1318","69221249.80ab6c"]]}]
